{% extends 'base.html' %}

{% load static %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'main_app/styles/general-style.css' %}">
{% endblock %}



{% block content %}
<header class="has-background-link">
    <nav class="navbar is-link" role="navigation" aria-label="main navigation" >
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'landing' %}">Hopital Scheduler</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'about' %}">About</a>
            <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
            <a class="navbar-item" href="{% url 'login' %}">Log In</a>
        </div>

    </nav>
</header>


<main class="column is-half is-offset-one-quarter">
    {% block main %}





    {% endblock %}
</main>

{% endblock %}