{% extends 'general-templates/general-base.html' %}

{% block main %}


<p class="card-content">
    Hello,
    Hopital application was created to aid in the headaches that come with scheduling a surgical procedure by allowing
    patients direct ability to schedule an operation when they please and with the Surgeon of their choosing. This
    application works to reduce the confusion that comes with Insurance coverage and scheduling by being a one stop shop
    for both patients and providers.</p>


{% endblock %}