{% extends 'base.html' %}

{% block content %}
<header>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'landing' %}">Hopital Scheduler</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'about' %}">About</a>
            <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
            <a class="navbar-item" href="{% url 'login' %}">Log In</a>
        </div>

    </nav>
</header>

<h1 class="card-content">Hello,
    Hopital application was created to aid in the headaches that come with scheduling a surgical procedure by allowing
    patients direct ability to schedule an operation when they please and with the Surgeon of their choosing. This
    application works to reduce the confusion that comes with Insurance coverage and scheduling by being a one stop shop
    for both patients and providers.</h1>

{% for provider in Providers %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ provider.first_name }}{{ provider.last_name }}</span>
        <p>Specialty: {{ provider.provider_specialization }}</p>
        <p>About Dr. {{ provider.last_name }}: {{ provider.personal_blurb }}</p>
    </div>
    </a>
</div>
{% endfor %} {% endblock %}