{% extends 'general-templates/general-base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main_app/styles/general-style.css' %}">
{% endblock %}


{% block main %}
<div>
    <h1 class="title is-1 has-text-centered">Welcome to Hopital!</h1>
    <article class="landing-about">
        As the region's most preferred independent orthopedic and neurosurgery practice, our doctors are the dedicated experts in providing the highest level of treatment for the bone, joint, and muscle needs of Portland, Vancouver, and Lake Oswego, and the surrounding communities. Since 1969, we have remained committed to delivering specialized orthopedic and neurological care that helps you restore your strength, reclaim your life, and rebound.

The specialty-trained doctors of Rebound Orthopedics & Neurosurgery provide treatment for orthopedic and neurological injuries and conditions affecting the ankle, back, elbow, foot, hand, hip, knee, neck, shoulder, spine, and wrist as well as specialized care in family medicine, joint replacement & revision, neurosurgery/brain, orthopedic trauma, physical medicine & rehabilitation, and sports medicine.

Our world-class team of orthopedic and neurosurgical experts is devoted to providing customized treatment plans focused on your needs and goals.

At Rebound Orthopedics & Neurosurgery, we specialize in helping you rebound.
    </article>
    <p class="subtitle is-4 has-text-centered">This is a website for scheduling appointments at a hospital.</p>
</div>
{% endblock %}