{% extends 'base.html' %}

{% block content %}
<header>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'landing' %}">Hopital Scheduler</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'about' %}">About</a>
            <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
            <a class="navbar-item" href="{% url 'login' %}">Log In</a>
        </div>

    </nav>
</header>


<h1>I am the landing page. You should see me if you are not logged in and you just came into the site.</h1>
<h2>Home to the GKB Hospital</h2>

{% endblock %}