{% extends 'base.html' %}
{% block content %}
<header>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'landing' %}">Hopital Scheduler</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'about' %}">About</a>
            <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
            <a class="navbar-item" href="{% url 'login' %}">Log In</a>
        </div>

    </nav>
</header>
<h1 class="title">Sign Up</h1>
<form method="post" action="{% url 'signup' %}">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" class="btn" value="Sign Up" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}