{% extends 'base.html' %}
{% block content %}
<header>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'provider-home' %}">Provider</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'provider-schedule' %}">Schedule</a>
            <a class="navbar-item" href="{% url 'provider-detail' %}">Provider Detail</a>
            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
        </div>


    </nav>
</header>

<div class="box">
    <p class="is-size-3">Welcome back, Doctor {{user.last_name}}.</p>
    
</div>



<!-- <div class="box">
    <p class="is-size-3">Welcome Doctor {{user.last_name}}, Here are Your Procedure Requests:</p>
    <p>Patient Name: {{patient}}</p>
    <p>Patient Insurance Type: {{insurancetype}}</p>
    <p>Patient Ailment Category: {{ailmentcategory}}</p>
    <p>Patient Ailment Description: {{ailmentdescription}}</p>
    <p>Patient Preferred Date: {{preferreddate}}</p>
    
</div> -->



{% endblock %}