/* Important to note that section styles are within body, have access to header, body, footer   */

body {
    border: black;
    border-style: solid;
    background-color: #766688;
    min-height: 100vh;
}



main{
    margin-top: 3vh;
    width: 100%;
    height: 80vh;
    border: black;
    background-color: white;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    
}

/* 
label {
    
} */

form {
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    margin: 3vh 0;
    margin-top: 3vh;
    padding-bottom: 3vh;

    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

label {

    width:100px;
    text-align: left;
    margin-bottom:1vh;
    margin-right: 1vw;

}






/* request history */

.history-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.history-table th { /* table header */
    text-align: center;
    min-width: 10vw;
    background-color: #549966;
    padding: 1vh;
}

.history-table tr { /* table row */
    text-align: center;
    border: black;
    border-style: solid;
    margin-right: 1vw;
}

.history-table td { /* table data element */
    margin-right: 1vw;
    margin-left: 1vw;

}




