{% extends 'patient-templates/patient-base.html' %}
{% block main %}

<div class="container mt-2">
  <div class="notification has-text-left pl-3">
    <h1 class="title">Additional Patient Registration</h1>
    <p> To complete your registration as a patient, please fill the additional fields. </p>
    <form method="post" action="{% url 'patient-registration' %}">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <br>
      <input type="submit" class="btn" value="Click to register as patient!" />
    </form>
  </div>
</div>

{% endblock %}