{% extends 'patient-templates/patient-base.html' %}
{% block main %}

<p class="is-size-3 has-text-centered">Patient Request History:</p>


<div class="history-table">
    <table>
        <thead>
            <th>#</th>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Accepted</th>
        </thead>
        <tbody>
            {% for incident in data %}
            <tr>
                <td>{{ incident.id }}</td>
                <td>{{incident.patient_preferred_day}} </td>
                <td>{{incident.patient_ailment_category}}</td>
                <td>{{incident.patient_ailment_description}}</td>
                <td>{{incident.accepted}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    

</div>



{% endblock %}