{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main_app/styles/patient-style.css' %}">
{% endblock %}

{% block content %}

<header>
    <nav class="navbar is-link has-background-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'patient-home' %}">Patient</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'patient-detail' %}">Patient Detail</a>
            <a class="navbar-item" href="{% url 'patient-request' %}">Patient Request</a>
            <a class="navbar-item" href="{% url 'patient-request-history' %}">Patient Request History</a>
            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
</header>
<main class="column is-8 is-offset-2">
    {% block main %}




    
    {% endblock %}




</main>


{% endblock %}