{% extends 'base.html' %}
{% block content %}
<header>
  <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'patient-home' %}" >Patient</a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div class="navbar-menu navbar-end">
          <a class="navbar-item" href="{% url 'patient-detail' %}">Patient Detail</a>
          <a class="navbar-item" href="{% url 'patient-request' %}">Patient Request</a>
          <a class="navbar-item" href="{% url 'patient-request-history' %}">Patient Request History</a>
          <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
      </div>
  </nav>
  </header>

<h1 class="title">Patient request for treatment</h1>
<h2>You are currently in patient/patient-request</h2>
<form method="post" action="{% url 'patient-request' %}">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" class="btn" value="Click submit a request for treatment!" />

</form>

{% endblock %}