/* Important to note that section styles are within body, have access to header, body, footer   */

body {
    border: black;
    border-style: solid;
    background-color: green;
}


main{
    width: 90vw;
    height: 90vh;
    border: black;
    background-color: red;
}